In [37]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import StandardScaler

from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report


from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import preprocessing

In [38]:
sal1 = pd.read_csv('SalaryData_Train(1).csv')
sal2 = pd.read_csv('SalaryData_Test(1).csv')
sal1

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [39]:
label_encoder = preprocessing.LabelEncoder()
sal1['Salary']= label_encoder.fit_transform(sal1['Salary'])
sal2['Salary']= label_encoder.fit_transform(sal2['Salary'])

In [40]:
array1 = sal1.values
x1_train = sal1.iloc[:,[0,3,9,10,11]]
y1_train = sal1['Salary']

In [41]:
array2 = sal2.values
x1_test = sal2.iloc[:,[0,3,9,10,11]]
y1_test = sal2['Salary']

In [42]:
x1_train, x1_test, y1_train, y1_test = train_test_split(x1_train,y1_train,test_size=0.3,random_state=42)

In [43]:
x1_train.shape, y1_train.shape, x1_test.shape, y1_test.shape

((21112, 5), (21112,), (9049, 5), (9049,))

In [44]:
clf = SVC()
param_grid = [{'kernel':['rbf'] }]
gsv = GridSearchCV(clf,param_grid,cv=15)
gsv.fit(x1_train,y1_train)

GridSearchCV(cv=15, estimator=SVC(), param_grid=[{'kernel': ['rbf']}])

In [45]:
gsv.best_params_ , gsv.best_score_

({'kernel': 'rbf'}, 0.7964180383256875)

In [47]:
clf = SVC(C= 15, gamma = 50)
clf.fit(x1_train , y1_train)
y_pred = clf.predict(x1_test)
acc = accuracy_score(y1_test, y_pred) * 100
print("Accuracy =", acc)
confusion_matrix(y1_test, y_pred)

Accuracy = 75.82053265554205

array([[6458,  322],
       [1866,  403]], dtype=int64)